<ion-header>
  <ion-toolbar>
    <ion-title>Kochbuch</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="kochbuch-div">

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <p>TEST</p>
          <ion-icon name="add" style="font-size: 25px; color: black;"></ion-icon>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

  </div>
</ion-content>