<ion-header >
  <ion-toolbar color="success" >
    <ion-title>Produkte</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="produkte-div">
    <div *ngFor="let p of produkte; let i = index">

      <div *ngIf="p.zubereitet == false">
        <ion-card [ngStyle]="{'background-color': isAusgewaehlt(i) == true ? '#1b7e43' : 'white' }" 
                  style="transition: 500ms;">
                  <!-- [ngStyle]="{'padding-bottom': expandedid == p.id ? '100px' : '0px' }" -->
          <ion-card-header>
            <ion-card-title>
              <p (click)="setExpanded(p.id)" [ngStyle]="{'color': isAusgewaehlt(i) == true ? 'white' : 'black' }">{{ p.bezeichnung }}</p>


              <div class="auswaehlen" *ngIf="isAusgewaehlt(i) == true">
                <ion-icon name="radio-button-on" style="font-size: 25px; color: white;" (click)="delAusgewaehlt(p.id, i)"></ion-icon>
              </div>

              <div class="auswaehlen" *ngIf="isAusgewaehlt(i) == false">
                <ion-icon name="radio-button-off" style="font-size: 25px; color: black;" (click)="addAusgewaehlt(p.id, i)"></ion-icon>
              </div>

              
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </div>

    <div *ngFor="let p of produkte; let i = index">
      <div *ngIf="p.zubereitet == true">
        <ion-card [ngStyle]="{'background-color': '#d1d1d1'}" style="opacity: 0.75;">
          <ion-card-header>
            <ion-card-title style="color: #707070;">
              {{ p.bezeichnung }}
              <div class="auswaehlen">
                <ion-icon name="radio-button-on" style="font-size: 25px; color: #707070;">
                </ion-icon>
              </div>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </div>

  </div>

  <div *ngIf="hasElementsAusgewaehlt() == true" id="close-confirm">
    <div>
      <ion-button color="light" (click)="clearAusgewaehlt()">Abbrechen</ion-button>
      <ion-button color="success" (click)="setZubereitet()" >Fertig</ion-button>
    </div>
  </div>

</ion-content>