<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: white; text-align: center; padding-top: 15vh;">
    <h1 style="font-size: 7vh;">Pizzeria</h1>
    <h1 style="color: orange; font-size: 10vh;">Napoli</h1>
    <hr style="height: 3px; color: black">
    <span>Made By ~Michael Holmes</span>

    <br><br><br>

    <div style="position: relative; width: min-content; margin: 0px auto;">
      <table>
        <tr>
          <td>
            <ion-button routerLink='bestellung' color="medium" style="width: 150px; height: 50px;">Bestellungen</ion-button>
          </td>
          <td>
            <ion-button routerLink='kochbuch' color="medium" style="width: 150px; height: 50px;">Kochbuch</ion-button>
          </td>
        </tr>
        <tr>
          <td>
            <ion-button routerLink='lager' color="medium" style="width: 150px; height: 50px;">Lager</ion-button>
          </td>
          <td>
            <ion-button routerLink='analyse' color="medium" style="width: 150px; height: 50px;">Analyse</ion-button>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <ion-button routerLink='chat' color="medium" style="width: 300px; height: 50px;">Chat</ion-button>
          </td>
        </tr>
      </table>
    </div>

  </div>

</ion-content>